@import "mixin";

@font-face {
	font-family: "shlop";
	src: url(../fonts/shlop\ rg.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: "Outfit", sans-serif;
	height: 100dvh;
	background: #0d1117;
	position: relative;
}

.main {
	padding-top: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	gap: 1rem;

	.input-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		bottom: 0px;
		width: 100%;
	}

	&__btn {
		@include center;
		border: none;
		background: #fff;
		padding: 0.6rem 0.8rem;
		font-size: 2rem;
		font-weight: bolder;
		border-radius: 8px;
		cursor: pointer;

		.bi:hover {
			color: #0bc76f;
		}
	}

	&__find {
		padding: 1rem;
		border-radius: 12px;
		border: none;
		font-size: 1.2rem;
		width: 100%;
		margin: 0 auto;

		&:focus {
			outline: 2px solid #0bc76f;
		}
	}
}

.character-wrapper {
	@include center;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 850px;
	user-select: none;

	&:hover img {
		transform: scale(0.95);
		transition: all 0.5s;
	}

	&__img {
		width: 150px;
		border-radius: 15px;
		filter: grayscale(80%);
		transition: all 0.5s;

		&:hover {
			filter: grayscale(0%);
			transform: scale(1.1) !important;
			transition: all 0.5s;
			cursor: pointer;
		}
	}
}

.background {
	@include center;
	height: 100dvh;
	width: 100vw;
	position: absolute;
}

.details-wrapper {
	background-color: #0d1117;
	position: absolute;
	color: #fff;
	border-radius: 20px;
	min-height: 300px;
	min-width: 600px;
	display: flex;
	flex-wrap: wrap;

	&__img {
		flex: 1 1 200px;
		border-radius: 20px 0 0 20px;
	}

	&__close {
		cursor: pointer;
		background: transparent;
		color: #fff;
		border: none;
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 2rem;
	}

	.section-info {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 0rem 2rem 1rem;
		flex: 1 1 300px;

		&__name {
			font-size: 1.8rem;
			font-family: "shlop";
			letter-spacing: 2.5px;
			color: #02b0c7;
			filter: drop-shadow(0px 0px 10px #8dc663);
			text-shadow: #000 2px 2px;
		}

		&__status {
			display: flex;
			align-items: center;
			gap: 5px;

			.statusBall {
				content: " ";
				height: 10px;
				width: 10px;
				display: block;
				background: red;
				border-radius: 50%;
			}
		}
	}
}

.active {
	display: flex;
}

.desactive {
	display: none;
}
